RRHH_Entregables_Export_QA_V24B_HTML_DOCUMENTAL_AUDITADO.json
{
  "meta": {"instanceId":"lmss-n8n-prod"},
  "name": "RRHH_Entregables_Export_QA_V24B_HTML_DOCUMENTAL_AUDITADO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rrhh-entregable-export-html-v24b",
        "responseMode": "responseNode",
        "options": {"allowedOrigins": "https://lmss-ctrl.github.io"}
      },
      "id": "node-webhook-v24b",
      "name": "Webhook_POST_ExportHTMLV24B",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "rrhh-entregable-export-html-v24b"
    },
    {
      "parameters": {
        "jsCode": "// NODE 2 — Validar entrada (V24B — idéntico a R5)\nconst body = $input.first().json?.body ?? $input.first().json;\nconst rawId = body?.entregable_version_id;\nconst modo  = String(body?.modo ?? 'EXPORT').toUpperCase();\nif (rawId === undefined || rawId === null || rawId === '') {\n  return [{ json: { valid: false, validation_error: 'entregable_version_id_requerido', mensaje: 'Debe enviar entregable_version_id.', entregable_version_id: -1, raw_entregable_version_id: rawId, modo } }];\n}\nconst id = Number(rawId);\nif (!Number.isInteger(id) || id <= 0) {\n  return [{ json: { valid: false, validation_error: 'entregable_version_id_invalido', mensaje: 'entregable_version_id debe ser un entero positivo.', entregable_version_id: -1, raw_entregable_version_id: rawId, modo } }];\n}\nreturn [{ json: { valid: true, validation_error: '', mensaje: '', entregable_version_id: id, raw_entregable_version_id: rawId, modo } }];"
      },
      "id": "node-validate-v24b",
      "name": "Code_ValidarEntrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH q AS (\n  SELECT\n    ev.entregable_version_id, ev.entregable_id, en.codigo_expediente,\n    en.colaborador_id, en.cargo_id, en.nombre_colaborador_legacy, en.cedula_legacy,\n    en.cargo_actual_legacy, en.area_legacy, en.estado_generacion, en.modo,\n    en.fecha_ultima_generacion, e.estado_expediente, e.pregunta_actual_id,\n    e.progreso_pct, e.fecha_inicio, e.fecha_cierre,\n    ev.version, ev.version_generador, ev.fecha_generacion, ev.estado_qa_resumido,\n    ev.calidad_general, ev.apto_para_entrega, ev.requiere_revision_humana,\n    ev.nivel_revision_humana, ev.objeto_estandar_json, ev.objeto_estandar_raw,\n    ev.ficha_analitica_json, ev.ficha_analitica_raw, ev.revision_qa_json,\n    ev.revision_qa_raw, ev.parse_errors, ev.created_at,\n    v.nombre_completo, v.identificador_colaborador, v.nombre_cargo_normalizado,\n    v.total_preguntas_canonicas, v.total_respuestas_historicas\n  FROM rrhh.entregable_versiones ev\n  JOIN rrhh.entregables en ON en.entregable_id = ev.entregable_id\n  JOIN rrhh.expedientes e ON e.codigo_expediente = en.codigo_expediente\n  LEFT JOIN rrhh.vw_payload_ia_entregable_canonico v ON v.codigo_expediente = en.codigo_expediente\n  WHERE ev.entregable_version_id = {{ $json.entregable_version_id }}\n  LIMIT 1\n)\nSELECT true AS found, q.* FROM q\nUNION ALL\nSELECT false AS found,\n  NULL::bigint,NULL::bigint,NULL::text,NULL::bigint,NULL::bigint,NULL::text,NULL::text,\n  NULL::text,NULL::text,NULL::text,NULL::text,NULL::timestamptz,NULL::text,NULL::text,\n  NULL::numeric,NULL::timestamptz,NULL::timestamptz,NULL::text,NULL::text,NULL::timestamptz,\n  NULL::text,NULL::text,NULL::boolean,NULL::boolean,NULL::numeric,NULL::jsonb,NULL::text,\n  NULL::jsonb,NULL::text,NULL::jsonb,NULL::text,NULL::jsonb,NULL::timestamptz,\n  NULL::text,NULL::text,NULL::text,NULL::bigint,NULL::numeric\nWHERE NOT EXISTS (SELECT 1 FROM q);",
        "options": {}
      },
      "id": "node-pg-main-v24b",
      "name": "PG_LeerEntregableVersion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {"postgres": {"id": "lmss-pg-rrhh", "name": "LMSS PostgreSQL RRHH"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH q AS (\n  SELECT r.id_pregunta, r.pregunta_texto_snapshot,\n    COALESCE(NULLIF(TRIM(r.respuesta_limpia), ''), r.respuesta) AS respuesta_final,\n    r.fase, r.orden, r.completa, r.requirio_repregunta, r.flag_calidad_baja\n  FROM rrhh.respuestas_entrevista r\n  JOIN rrhh.entregables en ON en.codigo_expediente = r.codigo_expediente\n  JOIN rrhh.entregable_versiones ev ON ev.entregable_id = en.entregable_id\n  WHERE ev.entregable_version_id = {{ $('Code_ValidarEntrada').first().json.entregable_version_id }}\n  ORDER BY COALESCE(r.orden, 9999),\n    NULLIF(regexp_replace(r.id_pregunta, '\\D', '', 'g'), '')::int NULLS LAST,\n    r.id_pregunta\n)\nSELECT true AS pyr_found, q.* FROM q\nUNION ALL\nSELECT false AS pyr_found, NULL::text, NULL::text, NULL::text, NULL::text,\n  NULL::integer, NULL::boolean, NULL::boolean, NULL::boolean\nWHERE NOT EXISTS (SELECT 1 FROM q);",
        "options": {}
      },
      "id": "node-pg-pyr-v24b",
      "name": "PG_LeerRespuestasEntrevista",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 480],
      "credentials": {"postgres": {"id": "lmss-pg-rrhh", "name": "LMSS PostgreSQL RRHH"}}
    },
    {
      "parameters": {
        "jsCode": "// NODE 5 — V24B: HTML Auditado con scoring determinístico\nconst EXPORTADOR_VERSION = 'V24B_HTML_DOCUMENTAL_AUDITADO';\nconst mainRows = $('PG_LeerEntregableVersion').all().map(i => i.json);\nconst pyrRowsRaw = $('PG_LeerRespuestasEntrevista').all().map(i => i.json);\nconst pyrRows = pyrRowsRaw.filter(p => p && (p.pyr_found === true || p.pyr_found === 't' || p.pyr_found === 1 || p.pyr_found === 'true') && (p.id_pregunta || p.pregunta_texto_snapshot));\nconst ctx = $('Code_ValidarEntrada').first().json;\n\nif (ctx.validation_error) {\n  return [{ json: { ok: false, error: ctx.validation_error, entregable_version_id: ctx.raw_entregable_version_id ?? null, exportador_version: EXPORTADOR_VERSION, mensaje: ctx.mensaje || 'Error de validación de entrada.' } }];\n}\n\nconst main = mainRows[0] || {};\nconst notFound = !mainRows.length || main.found === false || main.found === 'f' || main.found === 0 || main.found === '0';\nif (notFound) {\n  return [{ json: { ok: false, error: 'entregable_no_encontrado', entregable_version_id: ctx.entregable_version_id, exportador_version: EXPORTADOR_VERSION, mensaje: 'No existe una versión de entregable con el ID solicitado.' } }];\n}\n\nconst r = main;\n\n// ── helpers ──\nconst esc = s => String(s ?? '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;').replace(/'/g,'&#39;');\nconst hasVal = v => !(v === null || v === undefined || v === '' || (Array.isArray(v) && !v.length));\nconst hasArr = v => Array.isArray(v) && v.length > 0;\nconst first = (...vals) => { for (const v of vals) if (hasVal(v)) return String(v).trim(); return 'N/D'; };\nconst bool = v => v === true || v === 't' || v === 'true' || v === 1 || v === '1';\nconst fmt = s => { if (!s) return 'N/D'; try { return new Date(s).toLocaleString('es-CR',{timeZone:'America/Costa_Rica',dateStyle:'long',timeStyle:'short'}); } catch(e) { return String(s); } };\nconst fmtDate = s => { if (!s) return 'N/D'; try { return new Date(s).toLocaleDateString('es-CR',{timeZone:'America/Costa_Rica',year:'numeric',month:'long',day:'numeric'}); } catch(e) { return String(s); } };\n\n// ── parse JSON columns ──\nlet parseErrors = [];\nfunction parseMJ(value, fallback, label) {\n  if (value === null || value === undefined || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch(e) { parseErrors.push(label + ': ' + e.message); return fallback; }\n}\nconst objeto = parseMJ(r.objeto_estandar_json, {}, 'objeto_estandar_json');\nconst ficha  = parseMJ(r.ficha_analitica_json, {}, 'ficha_analitica_json');\nconst qa     = parseMJ(r.revision_qa_json, {}, 'revision_qa_json');\nconst peRaw  = parseMJ(r.parse_errors, [], 'parse_errors');\nif (Array.isArray(peRaw)) parseErrors = parseErrors.concat(peRaw);\n\n// ── resolved fields ──\nconst codigoExpediente  = first(r.codigo_expediente);\nconst nombreColaborador = first(r.nombre_completo, r.nombre_colaborador_legacy);\nconst idColaborador     = first(r.identificador_colaborador, r.cedula_legacy);\nconst nombreCargo       = first(r.nombre_cargo_normalizado, r.cargo_actual_legacy);\nconst areaCargo         = first(r.area_legacy);\nconst version           = first(r.version);\nconst versionGenerador  = first(r.version_generador);\nconst estadoQA          = first(r.estado_qa_resumido);\nconst aptoEntrega       = bool(r.apto_para_entrega);\nconst requiereRH        = bool(r.requiere_revision_humana);\nconst filename          = 'entregable_' + r.entregable_version_id + '_' + codigoExpediente + '_auditado.html';\n\n// ── sub-objects ──\nconst perfil  = objeto.perfil_requerido || ficha.perfil_requerido || {};\nconst difMej  = objeto.dificultades_mejoras || ficha.dificultades_mejoras || {};\nconst relacs  = objeto.relaciones || ficha.relaciones || {};\nconst tiempos = objeto.tiempos_carga_laboral || ficha.tiempos_carga_laboral || {};\n\n// ── SCORING ALGORITHM ──\nconst CRITERIOS = [\n  { id:'proposito',            label:'Propósito del cargo',                peso:2, value: objeto.proposito || ficha.proposito },\n  { id:'funciones_clave',      label:'Funciones clave',                     peso:2, value: objeto.funciones_clave || ficha.funciones_clave },\n  { id:'responsabilidades',    label:'Responsabilidades',                   peso:2, value: objeto.responsabilidades || ficha.responsabilidades },\n  { id:'perfil_estudios',      label:'Perfil: estudios / formación',        peso:1, value: perfil.estudios || perfil.formacion },\n  { id:'perfil_experiencia',   label:'Perfil: experiencia',                 peso:1, value: perfil.experiencia },\n  { id:'perfil_competencias',  label:'Perfil: competencias',                peso:1, value: perfil.competencias },\n  { id:'perfil_herramientas',  label:'Perfil: herramientas / sistemas',     peso:1, value: perfil.herramientas || perfil.sistemas },\n  { id:'perfil_conocimientos', label:'Perfil: conocimientos técnicos',      peso:1, value: perfil.conocimientos },\n  { id:'indicadores',          label:'Indicadores sugeridos (KPIs)',        peso:2, value: objeto.indicadores_sugeridos || ficha.indicadores_sugeridos },\n  { id:'mejoras',              label:'Mejoras identificadas',               peso:1, value: difMej.mejoras },\n  { id:'reprocesos',           label:'Reprocesos identificados',            peso:1, value: difMej.reprocesos },\n  { id:'dificultades',         label:'Dificultades específicas',            peso:1, value: difMej.dificultades },\n  { id:'relaciones_internas',  label:'Relaciones internas del cargo',       peso:1, value: relacs.internas },\n  { id:'tiempos_frecuencias',  label:'Tiempos: frecuencias de actividades', peso:1, value: tiempos.frecuencias },\n  { id:'tiempos_actividades',  label:'Tiempos: actividades de mayor carga', peso:1, value: tiempos.actividades_mayor_tiempo },\n  { id:'alertas_vacios',       label:'Alertas y vacíos documentados',       peso:1, value: objeto.alertas_vacios },\n  { id:'pyr',                  label:'Preguntas y Respuestas de entrevista',peso:2, value: pyrRows.length > 0 ? pyrRows : null },\n];\n\nCRITERIOS.forEach(c => {\n  c.presente = hasVal(c.value) && (Array.isArray(c.value) ? c.value.length > 0 : String(c.value).trim().length > 2);\n});\n\nconst totalPeso   = CRITERIOS.reduce((s,c) => s + c.peso, 0);\nconst pesoPresente = CRITERIOS.reduce((s,c) => c.presente ? s + c.peso : s, 0);\nconst scoreCompletitud = Math.round((pesoPresente / totalPeso) * 100);\n\nconst tieneBase   = CRITERIOS.find(c=>c.id==='proposito')?.presente && CRITERIOS.find(c=>c.id==='funciones_clave')?.presente;\nconst tieneResp   = CRITERIOS.find(c=>c.id==='responsabilidades')?.presente;\nconst tienePerfilAlguno = ['perfil_estudios','perfil_experiencia','perfil_competencias'].some(id => CRITERIOS.find(c=>c.id===id)?.presente);\nconst tieneIndicadores  = CRITERIOS.find(c=>c.id==='indicadores')?.presente;\nconst faltanCriticos    = !tieneIndicadores || !tienePerfilAlguno;\n\nlet estadoDocumental;\nif (aptoEntrega && !requiereRH)                                      estadoDocumental = 'APTO_ENTREGA';\nelse if (tieneBase && tieneResp && (tienePerfilAlguno || tieneIndicadores)) estadoDocumental = faltanCriticos ? 'REQUIERE_REVISION' : 'APTO_REVISION';\nelse if (tieneBase)                                                   estadoDocumental = 'REQUIERE_REVISION';\nelse                                                                  estadoDocumental = 'BORRADOR_QA';\n\nconst brechas = CRITERIOS.filter(c => !c.presente).map(c => ({ campo: c.id, label: c.label, peso: c.peso, critico: c.peso >= 2 }));\n\n// ── HTML helpers ──\nconst fieldRow = (label, value) => '<tr><th>' + esc(label) + '</th><td>' + esc(first(value)) + '</td></tr>';\nconst tbl = rows => '<table>' + rows + '</table>';\nconst sec = (id, title, content) => '<section id=\\'' + id + '\\'><h2>' + esc(title) + '</h2>' + content + '</section>';\n\nfunction valToTxt(v) {\n  if (v === null || v === undefined || v === '') return 'N/D';\n  if (Array.isArray(v)) return v.length ? v.map(x => typeof x === 'object' ? JSON.stringify(x) : String(x)).join('; ') : 'N/D';\n  if (typeof v === 'object') return JSON.stringify(v);\n  return String(v);\n}\nfunction objRows(obj, prefix) {\n  prefix = prefix || '';\n  if (!obj || typeof obj !== 'object') return fieldRow(prefix || 'Valor', valToTxt(obj));\n  return Object.entries(obj).map(function(entry) {\n    const k = entry[0], v = entry[1];\n    const label = prefix ? prefix + ' › ' + k : k;\n    if (v && typeof v === 'object' && !Array.isArray(v)) return objRows(v, label);\n    return '<tr><th>' + esc(label) + '</th><td>' + esc(valToTxt(v)) + '</td></tr>';\n  }).join('');\n}\nfunction buildList(value) {\n  if (!hasVal(value)) return '<p class=\\'pendiente\\'><em>Pendiente de validación / no disponible en la versión actual.</em></p>';\n  if (Array.isArray(value)) {\n    if (!value.length) return '<p class=\\'pendiente\\'><em>Pendiente de validación / no disponible en la versión actual.</em></p>';\n    return '<ul>' + value.map(function(item) { return '<li>' + esc(typeof item === 'object' ? JSON.stringify(item) : String(item)) + '</li>'; }).join('') + '</ul>';\n  }\n  return '<p>' + esc(String(value)) + '</p>';\n}\n\n// ── Semáforo ──\nconst semColors = { APTO_ENTREGA:'#2e7d32', APTO_REVISION:'#0288d1', REQUIERE_REVISION:'#ed6c02', BORRADOR_QA:'#d32f2f' };\nconst semLabels = { APTO_ENTREGA:'✓ Apto para entrega', APTO_REVISION:'◑ Apto para revisión', REQUIERE_REVISION:'⚠ Requiere revisión', BORRADOR_QA:'✗ Borrador QA' };\nconst semColor  = semColors[estadoDocumental] || '#666';\nconst semLabel  = semLabels[estadoDocumental] || estadoDocumental;\n\nconst aptoColor = aptoEntrega ? '#2e7d32' : '#d32f2f';\nconst aptoTxt   = aptoEntrega ? 'Sí' : 'No';\nconst revColor  = requiereRH ? '#ed6c02' : '#2e7d32';\nconst revTxt    = requiereRH ? 'Sí' : 'No';\n\nfunction scoreBar(score) {\n  const color = score >= 80 ? '#2e7d32' : score >= 55 ? '#ed6c02' : '#d32f2f';\n  return '<div style=\\'background:#eee;border-radius:4px;height:18px;width:100%;margin:8px 0\\'><div style=\\'background:' + color + ';width:' + score + '%;height:100%;border-radius:4px\\'></div></div>' +\n         '<div style=\\'font-size:12px;color:' + color + ';font-weight:700\\'>' + score + '% completitud</div>';\n}\n\n// sec0 — Semáforo + score\nconst sec0 = '<section id=\\'s0\\'>' +\n  '<h2>Estado Documental y Completitud</h2>' +\n  '<div style=\\'display:flex;gap:28px;flex-wrap:wrap;align-items:flex-start;margin-bottom:16px\\'>' +\n    '<div style=\\'min-width:150px;padding:14px 18px;border-radius:8px;background:' + semColor + ';color:#fff;text-align:center\\'>' +\n      '<div style=\\'font-size:18px;font-weight:900\\'>' + esc(semLabel) + '</div>' +\n      '<div style=\\'font-size:10px;margin-top:4px;opacity:.85\\'>' + esc(estadoDocumental) + '</div>' +\n    '</div>' +\n    '<div style=\\'flex:1;min-width:200px\\'>' +\n      scoreBar(scoreCompletitud) +\n      '<table style=\\'margin-top:8px;width:auto;font-size:12px\\'>' +\n        '<tr><th>Apto para entrega</th><td style=\\'color:' + aptoColor + ';font-weight:700\\'>' + aptoTxt + '</td></tr>' +\n        '<tr><th>Requiere revisión humana</th><td style=\\'color:' + revColor + ';font-weight:700\\'>' + revTxt + '</td></tr>' +\n        '<tr><th>Estado QA</th><td>' + esc(estadoQA) + '</td></tr>' +\n        '<tr><th>Calidad general</th><td>' + esc(first(r.calidad_general)) + '</td></tr>' +\n        '<tr><th>Brechas</th><td>' + brechas.length + ' (' + brechas.filter(function(b){return b.critico;}).length + ' críticas)</td></tr>' +\n      '</table>' +\n    '</div>' +\n  '</div>' +\n'</section>';\n\n// sec_brecha — Matriz de brechas\nfunction buildBrechas() {\n  if (!brechas.length) return '<p style=\\'color:#2e7d32;font-weight:700\\'>Sin brechas detectadas. Documento completo.</p>';\n  const criticas = brechas.filter(function(b){return b.critico;});\n  const normales = brechas.filter(function(b){return !b.critico;});\n  let html = '';\n  if (criticas.length) {\n    html += '<h3 style=\\'color:#d32f2f\\'>Brechas críticas (' + criticas.length + ')</h3><ul>';\n    criticas.forEach(function(b) { html += '<li><strong>' + esc(b.label) + '</strong> — pendiente de validación / no disponible en la versión actual.</li>'; });\n    html += '</ul>';\n  }\n  if (normales.length) {\n    html += '<h3 style=\\'color:#ed6c02\\'>Brechas complementarias (' + normales.length + ')</h3><ul>';\n    normales.forEach(function(b) { html += '<li>' + esc(b.label) + ' — pendiente de validación / no disponible en la versión actual.</li>'; });\n    html += '</ul>';\n  }\n  return html;\n}\nconst secBrecha = sec('s_brecha', 'Matriz de Brechas Documentales', buildBrechas());\n\n// sec_completitud — Matriz de completitud\nfunction buildMatriz() {\n  const rows = CRITERIOS.map(function(c) {\n    const ico = c.presente ? '✓' : '✗';\n    const clr = c.presente ? '#2e7d32' : '#d32f2f';\n    const crit = c.peso >= 2 ? '<span style=\\'color:#b45309;font-size:11px\\'> ★</span>' : '';\n    return '<tr>' +\n      '<td style=\\'color:' + clr + ';font-weight:700;text-align:center\\'>' + ico + '</td>' +\n      '<td>' + esc(c.label) + crit + '</td>' +\n      '<td style=\\'text-align:center\\'>' + c.peso + '</td>' +\n      '<td style=\\'color:' + clr + '\\'>' + (c.presente ? 'Disponible' : 'Pendiente') + '</td>' +\n    '</tr>';\n  }).join('');\n  return '<table>' +\n    '<thead><tr><th style=\\'width:30px\\'>✓/✗</th><th>Campo</th><th style=\\'width:44px\\'>Peso</th><th>Estado</th></tr></thead>' +\n    '<tbody>' + rows + '</tbody></table>' +\n    '<p style=\\'font-size:11px;color:#666;margin-top:4px\\'>★ = campo crítico (peso ≥ 2)</p>';\n}\nconst secCompletitud = sec('s_completitud', 'Matriz de Completitud por Sección', buildMatriz());\n\n// sec_rec — Recomendaciones de revisión humana\nfunction buildRecomendaciones() {\n  const items = [];\n  if (!tieneIndicadores) items.push('Completar indicadores sugeridos (KPIs) con el colaborador o supervisor directo.');\n  if (!tienePerfilAlguno) items.push('Levantar perfil requerido: estudios, experiencia y competencias clave.');\n  if (!CRITERIOS.find(function(c){return c.id==='mejoras';})?.presente) items.push('Documentar mejoras y reprocesos identificados en el puesto.');\n  if (!CRITERIOS.find(function(c){return c.id==='relaciones_internas';})?.presente) items.push('Mapear relaciones internas y externas del cargo.');\n  if (requiereRH) items.push('Nivel de revisión humana requerida: ' + first(r.nivel_revision_humana) + '.');\n  if (!aptoEntrega) items.push('El entregable no está aprobado para entrega formal. Validar con el equipo RRHH antes de distribuir.');\n  if (!items.length) return '<p style=\\'color:#2e7d32\\'>No hay recomendaciones de revisión pendientes.</p>';\n  return '<ol>' + items.map(function(i){ return '<li>' + esc(i) + '</li>'; }).join('') + '</ol>';\n}\nconst secRec = sec('s_rec', 'Recomendaciones de Revisión Humana', buildRecomendaciones());\n\n// sec1 — Identificación\nconst sec1 = sec('s1', '1. Identificación del Documento',\n  tbl(\n    fieldRow('Código Expediente', codigoExpediente) +\n    fieldRow('Entregable Version ID', r.entregable_version_id) +\n    fieldRow('Entregable ID', r.entregable_id) +\n    fieldRow('Versión', version) +\n    fieldRow('Generador (agente)', versionGenerador) +\n    fieldRow('Exportador', EXPORTADOR_VERSION) +\n    fieldRow('Score completitud', scoreCompletitud + '%') +\n    fieldRow('Estado documental', estadoDocumental) +\n    fieldRow('Archivo sugerido', filename) +\n    fieldRow('Fecha generación export', fmt(new Date().toISOString()))\n  )\n);\n\n// sec2 — Expediente\nconst sec2 = sec('s2', '2. Datos del Expediente',\n  tbl(\n    fieldRow('Estado Expediente', r.estado_expediente) +\n    fieldRow('Estado Generación', r.estado_generacion) +\n    fieldRow('Modo', r.modo) +\n    fieldRow('Progreso (%)', r.progreso_pct) +\n    fieldRow('Fecha Inicio', fmtDate(r.fecha_inicio)) +\n    fieldRow('Fecha Cierre', fmtDate(r.fecha_cierre)) +\n    fieldRow('Última Generación', fmt(r.fecha_ultima_generacion)) +\n    fieldRow('Total Preguntas Canónicas', r.total_preguntas_canonicas) +\n    fieldRow('Total Respuestas Históricas', r.total_respuestas_historicas)\n  )\n);\n\n// sec3 — Colaborador\nconst sec3 = sec('s3', '3. Datos del Colaborador',\n  tbl(fieldRow('Nombre Completo', nombreColaborador) + fieldRow('Identificador', idColaborador))\n);\n\n// sec4 — Cargo\nconst sec4 = sec('s4', '4. Cargo Levantado',\n  tbl(fieldRow('Nombre del Cargo', nombreCargo) + fieldRow('Área', areaCargo))\n);\n\n// sec5 — QA\nconst sec5 = sec('s5', '5. Revisión QA y Control de Calidad',\n  tbl(\n    fieldRow('Estado QA Resumido', estadoQA) +\n    fieldRow('Calidad General', r.calidad_general) +\n    fieldRow('Apto para Entrega', aptoTxt) +\n    fieldRow('Requiere Revisión Humana', revTxt) +\n    fieldRow('Nivel Revisión Humana', r.nivel_revision_humana)\n  ) + (Object.keys(qa).length ? '<h3>Detalle revisión QA</h3>' + tbl(objRows(qa)) : '<p class=\\'empty\\'>Sin detalle JSON de revisión QA.</p>')\n);\n\n// sec6 — Propósito y funciones\nconst proposito = objeto.proposito || ficha.proposito;\nconst funciones = objeto.funciones_clave || ficha.funciones_clave;\nconst responsabilidades = objeto.responsabilidades || ficha.responsabilidades;\nconst indicadores = objeto.indicadores_sugeridos || ficha.indicadores_sugeridos;\nconst alertasVacios = objeto.alertas_vacios;\nconst observacionesQA = objeto.observaciones_qa;\n\nconst sec6 = sec('s6', '6. Objeto Estándar — Descripción de Puesto',\n  '<h3>Propósito del cargo</h3>' + buildList(proposito) +\n  '<h3>Funciones clave</h3>' + buildList(funciones) +\n  '<h3>Responsabilidades</h3>' + buildList(responsabilidades) +\n  '<h3>Indicadores sugeridos (KPIs)</h3>' + buildList(indicadores) +\n  '<h3>Alertas y vacíos</h3>' + buildList(alertasVacios) +\n  (hasVal(observacionesQA) ? '<h3>Observaciones QA</h3><p>' + esc(observacionesQA) + '</p>' : '')\n);\n\n// sec7 — Perfil requerido\nconst sec7 = sec('s7', '7. Perfil Requerido del Cargo',\n  Object.keys(perfil).length\n    ? tbl(objRows(perfil))\n    : '<p class=\\'pendiente\\'><em>Pendiente de validación / no disponible en la versión actual.</em></p>'\n);\n\n// sec8 — Dificultades, mejoras, reprocesos\nconst sec8 = sec('s8', '8. Dificultades, Mejoras y Reprocesos',\n  Object.keys(difMej).length\n    ? '<h3>Mejoras</h3>' + buildList(difMej.mejoras) +\n      '<h3>Reprocesos</h3>' + buildList(difMej.reprocesos) +\n      '<h3>Dificultades</h3>' + buildList(difMej.dificultades)\n    : '<p class=\\'pendiente\\'><em>Pendiente de validación / no disponible en la versión actual.</em></p>'\n);\n\n// sec9 — Relaciones y tiempos\nconst sec9 = sec('s9', '9. Relaciones y Carga Laboral',\n  (Object.keys(relacs).length ? '<h3>Relaciones</h3>' + tbl(objRows(relacs)) : '<p class=\\'pendiente\\'><em>Relaciones: pendiente de validación.</em></p>') +\n  (Object.keys(tiempos).length ? '<h3>Tiempos y carga laboral</h3>' + tbl(objRows(tiempos)) : '<p class=\\'pendiente\\'><em>Tiempos: pendiente de validación.</em></p>')\n);\n\n// sec10 — Ficha analítica\nconst sec10 = sec('s10', '10. Ficha Analítica del Cargo',\n  Object.keys(ficha).length\n    ? tbl(objRows(ficha))\n    : '<p class=\\'empty\\'>Sin datos en ficha_analitica_json.</p>'\n);\n\n// sec11 — P&R\nlet pyrContent = '';\nif (pyrRows.length) {\n  const grouped = {};\n  pyrRows.forEach(function(p) {\n    const fase = first(p.fase, 'General');\n    if (!grouped[fase]) grouped[fase] = [];\n    grouped[fase].push(p);\n  });\n  pyrContent = Object.entries(grouped).map(function(entry) {\n    const fase = entry[0], items = entry[1];\n    const rows = items.map(function(p) {\n      const flags = [];\n      if (p.requirio_repregunta === true || p.requirio_repregunta === 't') flags.push('repregunta');\n      if (p.flag_calidad_baja   === true || p.flag_calidad_baja   === 't') flags.push('⚠ calidad baja');\n      if (p.completa === false  || p.completa === 'f') flags.push('incompleta');\n      const flagStr = flags.length ? ' <span class=\\'flag\\'>[' + esc(flags.join(', ')) + ']</span>' : '';\n      return '<tr>' +\n        '<td class=\\'qid\\'>' + esc(first(p.orden, p.id_pregunta)) + '</td>' +\n        '<td class=\\'qcode\\'>' + esc(first(p.id_pregunta)) + '</td>' +\n        '<td class=\\'qtext\\'>' + esc(first(p.pregunta_texto_snapshot)) + flagStr + '</td>' +\n        '<td class=\\'atext\\'>' + esc(first(p.respuesta_final)) + '</td>' +\n      '</tr>';\n    }).join('');\n    return '<h3>Fase: ' + esc(fase) + '</h3>' +\n      '<table><thead><tr><th>#</th><th>ID</th><th>Pregunta</th><th>Respuesta</th></tr></thead><tbody>' + rows + '</tbody></table>';\n  }).join('');\n} else {\n  pyrContent = '<p class=\\'empty\\'>No se encontraron respuestas de entrevista asociadas a este expediente.</p>';\n}\nconst sec11 = sec('s11', 'Anexo A — Preguntas y Respuestas de Entrevista', pyrContent);\n\n// sec12 — Errores\nconst sec12 = sec('s12', 'Trazabilidad — Errores de Parse',\n  parseErrors.length ? '<ul>' + parseErrors.map(function(e){ return '<li>' + esc(valToTxt(e)) + '</li>'; }).join('') + '</ul>' : '<p class=\\'ok\\'>Sin errores de parse.</p>'\n);\n\n// ── CSS ──\nconst css = ':root{--primary:#1a3c5e;--accent:#2e7d9f;--light:#f4f7fa;--border:#c8d6e0;--text:#1f2937;}' +\n'*,*::before,*::after{box-sizing:border-box;margin:0;padding:0;}' +\n'body{font-family:\\'Segoe UI\\',Arial,sans-serif;font-size:13px;color:var(--text);background:#fff;padding:22px 38px;line-height:1.5;}' +\n'header{background:var(--primary);color:#fff;padding:18px 26px;margin-bottom:26px;border-radius:6px;}' +\n'header h1{font-size:18px;font-weight:700;margin-bottom:3px;}' +\n'header .sub{font-size:11px;opacity:.88;}' +\n'section{margin-bottom:22px;}' +\n'section h2{font-size:14px;font-weight:700;color:var(--primary);border-bottom:2px solid var(--accent);padding-bottom:5px;margin-bottom:10px;}' +\n'section h3{font-size:13px;font-weight:600;color:var(--accent);margin:12px 0 6px;}' +\n'table{width:100%;border-collapse:collapse;margin-bottom:6px;}' +\n'th,td{text-align:left;padding:6px 9px;border:1px solid var(--border);vertical-align:top;}' +\n'th{background:var(--light);font-weight:600;width:28%;white-space:nowrap;}' +\n'tr:nth-child(even) td{background:#fafcfd;}' +\n'.qid{width:44px;text-align:center;white-space:nowrap;}' +\n'.qcode{width:66px;white-space:nowrap;}' +\n'.qtext{width:36%;}' +\n'.flag{font-size:11px;color:#b45309;font-style:italic;}' +\n'p.empty{color:#999;font-style:italic;padding:6px 0;}' +\n'p.ok{color:#2e7d32;padding:6px 0;}' +\n'.pendiente{background:#fff8e1;border-left:3px solid #ed6c02;padding:7px 11px;margin:5px 0;border-radius:0 4px 4px 0;font-size:12px;color:#7c4a00;}' +\n'ul,ol{margin-left:20px;}' +\n'li{margin-bottom:3px;}' +\n'footer{margin-top:32px;font-size:11px;color:#666;border-top:1px solid var(--border);padding-top:10px;text-align:center;}' +\n'@media print{@page{size:A4;margin:12mm;}body{padding:0;font-size:11px;}header{border-radius:0;margin-bottom:14px;}section{page-break-inside:avoid;}table{page-break-inside:avoid;}footer{position:fixed;bottom:0;width:100%;}}';\n\n// ── Ensamblado final ──\nconst generadoEl = fmt(new Date().toISOString());\n\nconst html = '<!doctype html>\\n' +\n  '<html lang=\\'es\\'>\\n<head>\\n' +\n  '  <meta charset=\\'UTF-8\\'>\\n' +\n  '  <meta name=\\'viewport\\' content=\\'width=device-width,initial-scale=1.0\\'>\\n' +\n  '  <title>Entregable ' + esc(codigoExpediente) + ' — VersionID ' + esc(r.entregable_version_id) + ' — Auditado V24B</title>\\n' +\n  '  <style>' + css + '</style>\\n' +\n  '</head>\\n<body>\\n' +\n  '<header>\\n' +\n  '  <h1>Levantamiento de Cargo — Documento Auditado</h1>\\n' +\n  '  <div class=\\'sub\\'>Expediente: ' + esc(codigoExpediente) + ' | VersionID: ' + esc(r.entregable_version_id) + ' | Score: ' + scoreCompletitud + '% | Estado: ' + esc(estadoDocumental) + ' | Exportador: ' + esc(EXPORTADOR_VERSION) + ' | Generado: ' + generadoEl + '</div>\\n' +\n  '</header>\\n<main>\\n' +\n  sec0 + secBrecha + secCompletitud + secRec +\n  sec1 + sec2 + sec3 + sec4 + sec5 + sec6 + sec7 + sec8 + sec9 + sec10 + sec11 + sec12 +\n  '\\n</main>\\n' +\n  '<footer>Generado automáticamente · LMSS · ' + EXPORTADOR_VERSION + ' · ' + generadoEl + ' · Score: ' + scoreCompletitud + '%</footer>\\n' +\n  '</body>\\n</html>';\n\nreturn [{\n  json: {\n    ok: true,\n    entregable_version_id: r.entregable_version_id,\n    entregable_id: r.entregable_id,\n    codigo_expediente: codigoExpediente,\n    version: version,\n    version_generador: versionGenerador,\n    exportador_version: EXPORTADOR_VERSION,\n    estado_qa_resumido: estadoQA,\n    modo: ctx.modo,\n    generado_el: new Date().toISOString(),\n    filename: filename,\n    score_completitud: scoreCompletitud,\n    estado_documental: estadoDocumental,\n    brechas: brechas.map(function(b){ return { campo: b.campo, label: b.label, critico: b.critico }; }),\n    parse_errors_detectados: parseErrors,\n    respuestas_count: pyrRows.length,\n    html_export: html\n  }\n}];"
      },
      "id": "node-buildhtml-v24b",
      "name": "Code_BuildHTMLAuditado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type",                "value": "application/json; charset=utf-8"},
              {"name": "Access-Control-Allow-Origin",  "value": "https://lmss-ctrl.github.io"},
              {"name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS"},
              {"name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization"}
            ]
          }
        }
      },
      "id": "node-respond-v24b",
      "name": "Respond_JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 380]
    }
  ],
  "connections": {
    "Webhook_POST_ExportHTMLV24B": {"main": [[{"node": "Code_ValidarEntrada",        "type": "main", "index": 0}]]},
    "Code_ValidarEntrada":         {"main": [[{"node": "PG_LeerEntregableVersion",    "type": "main", "index": 0}]]},
    "PG_LeerEntregableVersion":    {"main": [[{"node": "PG_LeerRespuestasEntrevista", "type": "main", "index": 0}]]},
    "PG_LeerRespuestasEntrevista": {"main": [[{"node": "Code_BuildHTMLAuditado",      "type": "main", "index": 0}]]},
    "Code_BuildHTMLAuditado":      {"main": [[{"node": "Respond_JSON",               "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "any"},
  "versionId": "v24b-2026-05-28-r1",
  "id": "RRHH-V24B-HTML-DOCUMENTAL-AUDITADO",
  "tags": ["rrhh","entregables","export","html","QA","v24b","auditado"]
}
